.article_wrapper {
    display: flex;
    justify-content: center;
    margin: 0 5vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 695px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}