@font-face {
    font-family: 'ProximaNovaRg';
    src: url('../../../assets/fonts/ProximaNova-Regular.woff') format('woff'), url('../../../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.card {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
}

.img_bg {
    height: 100%;
    padding: 20px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 0 20px 50px 20px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 12px 12px;
}

.paramsList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.param {
    margin-right: 10px;
    padding: 4px 10px 3px 10px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.param:last-child {
    margin-right: 0;
}

.paramImg {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.param_label {
    font-family: 'ProximaNovaRg';
    font-size: 10px;
    color: #ffffff;
}

.cardTitle {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.separator {
    width: 177px;
    height: 15px;
    margin: 10px;
}

.content_black {
    margin: 0;
}

@media only screen and (max-width: 695px) {
    .card {
        width: 300px !important;
    }
}